<%= render 'shared/error_messages', object: f.object %>

<div><%= f.label :start_date, "When did your period start?" %> <br />
  <%= f.date_field :start_date %></div>

<div><%= f.label :end_date, "When did your period end? (Leave blank if it hasn't ended)" %> <br />
<%= f.date_field :end_date %></div>